@font-face {
  font-family: "BYekan";
  src: url("../fonts/BYekan+.ttf");
}

body {
  font-family: 'BYekan';
}

.ltr-list {
  direction: ltr;
  text-align: left;
  padding-left: 0px;
}

.level-title {
  direction: ltr;
  text-align: left;
}

@media (min-width: 992px) {
  .level-title {
    margin-left: 1em;
  }
}

.level-bar {
  direction: ltr;
}

.profile {
  width: 150px;
  border-radius: 50%;
}

.skillset .item {
  margin-bottom: 25px;
}

.text-justify {
  text-align: justify;
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline > li {
  display: inline;
  white-space: nowrap;
}

.list-inline > li::before {
  content: "•";
  margin-right: 0.5em;
  margin-left: 0.5em;
}


/* RTL Styles */
.sidebar-wrapper {
  left: 0;
}

.sidebar-wrapper .contact-list .svg-inline--fa {
  margin-left: 5px;
}

.main-wrapper .section-title .icon-holder {
  margin-left: 8px;
}

.time {
  left: 0;
  right: unset !important
}

/* END OF RTL styles */
