@font-face {
  font-family: "BYekan";
  src: url("../fonts/BYekan+.ttf");
}

body {
  font-family: 'BYekan';
}

.ltr-list {
  direction: ltr;
  text-align: left;
  padding-left: 0px;
}

/* RTL Styles */
.sidebar-wrapper {
  left: 0;
}

.sidebar-wrapper .contact-list .svg-inline--fa {
  margin-left: 5px;
}

.main-wrapper .section-title .icon-holder {
  margin-left: 8px;
}

.time {
  left: 0;
  right: unset !important}

@media (min-width: 992px) {
  .skillset .level-title {
    float: right;
  }
}
/* END OF RTL styles */